.wp-block-image {
    figure {
        display: flex;
        flex-direction: column;
    }

    .aligncenter {
        img,
        figcaption {
            margin: auto;
        }
    }

    .alignright {
        img,
        figcaption {
            margin-left: auto;
        }
    }

}